body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas {
  border: 1px solid red;
  position: absolute;
  z-index: 1;
}

#the-canvas {
  border: 1px solid black;
  position: absolute;
  z-index: 1;
}

#overlay-canvas {
  border: 1px solid red;
  position: relative;
  z-index: 20;
  top: 0px;
  left: 0px;
}

#container {
  display: inline-block;
}


